
{% extends "main.html" %}
{% load static %}

{% block content %}

<style>
    .upload-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-left: 40px;
        width: 95%;
        height: 50vh;
    }

    .upload-box {
        border: 7px dashed #6a5acd;
        border-radius: 12px;
        padding: 45px 25px;
        width: 100%;
        text-align: center;
        cursor: pointer;
        transiton: 0.3s;
        backgroun-color: #f9f9ff;
    }

    .upload-box:hover {
        background-color: #eee9ff;
        border-color: #b6b1e7ff;
    }

    .upload-box img {
        width: 65px;
        opacity: 0.9;
        margin-bottom: 10px;
    }

    .upload-box span {
        font-size: 17px;
        font-weight: 600;
        color: #4c3cb8;
    }

    .custom-btn {
        background-color: #6a5acd;
        color: white;
        border: none;
        font-weight: 600;
        border-radius: 8px;
        padding: 10px 18px;
        transition: 0.3s ease-in-out; 
    }

</style>


<form action = "{% url 'bmp_decompressor' %}" method = "POST" enctype = "multipart/form-data">
    {% csrf_token %} 
    
    <div class="upload-wrapper">
    <label class="upload-box" for="fileUpload">
        <img src="{% static 'upload_image.png' %}" alt="Upload icon">
        <span>Click or drag your file here</span>
    </label>
    </div>

    <input type="file" class="form-control" id="fileUpload" name="file" style = "margin-top: 20px; width: 95%; margin-left: 40px;">
    <div style="display: flex; justify-content: center; margin-top: 15px;">
        <button type="submit" class="btn btn-outline-info custom-btn" style="width: 200px;">Decompress</button>
    </div>
</form>


<!--  Toast to show pop up messages -->

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  {# For Django messages #}
    {% if messages %}
        {% for message in messages %}
            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Note</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    {{message}}
                </div>
            </div>

        {% endfor %}
    {% endif %}

    {% if form.non_field.errors %}
        {% for error in form.non_field.errors %}
            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Error</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    {{ error }}
                </div>
            </div>

        {% endfor %}
    {% endif %}

</div>


<!-- Java Script to make the toast work -->
<script>
const toastTrigger = document.getElementById('liveToastBtn')

if (toastTrigger) {
  const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
  toastTrigger.addEventListener('click', () => {
    toastBootstrap.show()
  })
}
</script>

{% endblock %}